<a href="https://colab.research.google.com/github/luisfelipemh/aprende_institute/blob/main/Joins_Engagement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from datetime import timedelta
import matplotlib.pyplot as plt
import seaborn as sns, numpy as np
import os
import re
from datetime import date, time, datetime
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import xlrd
import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Sección nueva

In [3]:
EMAIL = pd.read_csv('/content/drive/MyDrive/Engagement/Engagement_Emails_-__1641245201731.csv', delimiter=",")
EMAIL["open_date"]=EMAIL["sent_date"]
EMAIL["medio"]="email"
EMAIL.head(2)

       subscriber_key            sent_date  ...            open_date  medio
0  0035G00001ZkDaJQAV  2021-10-10 00:00:00  ...  2021-10-10 00:00:00  email
1  0035G00001ZkDaJQAV  2021-10-17 00:00:00  ...  2021-10-17 00:00:00  email

[2 rows x 15 columns]

In [4]:
HSM = pd.read_csv('/content/drive/MyDrive/Engagement/HSM_-_Journey_&_Topi_1641245149003.csv', delimiter=",")
HSM["medio"]="hsm"
HSM.head(2)

        salesforce_id           OutputDate  ... Leads medio
0  0035G00001ZkDAKQA3  2020-11-10 00:00:00  ...     0   hsm
1  0035G00001ZkDAKQA3  2020-11-11 00:00:00  ...     0   hsm

[2 rows x 13 columns]

# Sección nueva

In [5]:
Email= EMAIL[["subscriber_key","sent_date","open_date","journeyname","emailname", "sent","Unique Opens","Unique Click", "medio"]]
Email.rename(columns = {'emailname':'emailname/Topic'}, inplace = True)
Email.head(2)

       subscriber_key            sent_date  ... Unique Click  medio
0  0035G00001ZkDaJQAV  2021-10-10 00:00:00  ...            0  email
1  0035G00001ZkDaJQAV  2021-10-17 00:00:00  ...            0  email

[2 rows x 9 columns]

In [6]:
hsm= HSM[["salesforce_id","OutputDate" , "InputDate","Journey_Engagement","Topic", "OutputId", "Answered","medio"]]
hsm.rename(columns = {"salesforce_id":"subscriber_key",
                        "OutputDate":"sent_date" ,
                        "InputDate": "open_date",
                        "Journey_Engagement":"journeyname",
                        "Topic":"emailname/Topic",
                        "OutputId":"sent",
                        "Answered":"Unique Opens",
                        "Answered":"Unique Click",
                        'emailname':'emailname/Topic'}, inplace = True)
hsm.head(2)

       subscriber_key            sent_date  ... Unique Click medio
0  0035G00001ZkDAKQA3  2020-11-10 00:00:00  ...            0   hsm
1  0035G00001ZkDAKQA3  2020-11-11 00:00:00  ...            0   hsm

[2 rows x 8 columns]

In [7]:
hsm['journeyname'].unique()

array(['Clase en Vivo Reminder', 'Tutorías'], dtype=object)

In [8]:
ENG_Journeys= pd.concat([Email,hsm])
ENG_Journeys.to_csv('Engagement_Journeys.csv', sep=',', encoding = "ISO-8859-1", index = False)

In [9]:
ENG_Journeys

            subscriber_key            sent_date  ... Unique Click  medio
0       0035G00001ZkDaJQAV  2021-10-10 00:00:00  ...            0  email
1       0035G00001ZkDaJQAV  2021-10-17 00:00:00  ...            0  email
2       0035G00001ZkDaJQAV  2021-10-26 00:00:00  ...            0  email
3       0035G00001ZkDaJQAV  2021-11-08 00:00:00  ...            0  email
4       0035G00001ZkDcUQAV  2021-10-18 00:00:00  ...            0  email
...                    ...                  ...  ...          ...    ...
288023  003f400001ZkBofAAF  2020-11-17 00:00:00  ...            0    hsm
288024  003f400001ZkBuOAAV  2021-01-18 00:00:00  ...            0    hsm
288025  003f400001ZkBuOAAV  2021-01-19 00:00:00  ...            0    hsm
288026  003f400001ZkBuOAAV  2021-01-21 00:00:00  ...            1    hsm
288027                 123  2020-04-29 00:00:00  ...            0    hsm

[933207 rows x 9 columns]

SEGUNDA PARTE: LUIS FELIPE

Copia del ENG_Journeys de Dai

In [10]:
journeys=ENG_Journeys.copy()

In [11]:
journeys[journeys['open_date'].isnull()]

            subscriber_key            sent_date  ... Unique Click medio
4       0035G00001ZkDS5QAN  2020-12-16 00:00:00  ...            0   hsm
5       0035G00001ZkDS5QAN  2021-01-19 00:00:00  ...            0   hsm
6       0035G00001ZkDS5QAN  2021-02-02 00:00:00  ...            0   hsm
7       0035G00001ZkDT8QAN  2020-11-11 00:00:00  ...            0   hsm
8       0035G00001ZkDT8QAN  2020-11-16 00:00:00  ...            0   hsm
...                    ...                  ...  ...          ...   ...
288018  003f400001ZkBapAAF  2021-01-08 00:00:00  ...            0   hsm
288019  003f400001ZkBapAAF  2021-03-06 00:00:00  ...            0   hsm
288020  003f400001ZkBjOAAV  2020-11-12 00:00:00  ...            0   hsm
288023  003f400001ZkBofAAF  2020-11-17 00:00:00  ...            0   hsm
288027                 123  2020-04-29 00:00:00  ...            0   hsm

[101876 rows x 9 columns]

In [12]:
journeys['Unique Opens']=np.where(journeys['open_date'].isnull()[:None],0,1)
journeys['Unique Click']=np.where(journeys['open_date'].isnull()[:None],0,1)

Convertir los dates en strings

In [13]:
journeys['sent_date']=journeys['sent_date'].astype(str).str[0:10]

In [14]:
journeys['open_date']=journeys['open_date'].astype(str).str[0:10]

Renombrar las columnas para que queden sin espacios

In [15]:
journeys.rename(columns = {'emailname/Topic':'emailname_topic','Unique Opens':'unique_opens','Unique Click':'unique_click'}, inplace = True)

In [16]:
journeys.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 933207 entries, 0 to 288027
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   subscriber_key   933207 non-null  object
 1   sent_date        933207 non-null  object
 2   open_date        933207 non-null  object
 3   journeyname      933207 non-null  object
 4   emailname_topic  933207 non-null  object
 5   sent             933207 non-null  int64
 6   unique_opens     933207 non-null  int64
 7   unique_click     933207 non-null  int64
 8   medio            933207 non-null  object
dtypes: int64(3), object(6)
memory usage: 71.2+ MB

In [17]:
journeys.to_csv('/content/drive/MyDrive/Engagement/journeys.csv', sep=',')

Importamos la tabla que se origina a partir de la Query de palanca de SQL

In [18]:
query_palancas = pd.read_csv('/content/drive/MyDrive/Engagement/query_impactos_journeys.csv', delimiter=",")

In [19]:
query_palancas.shape
#mas de 6 millones de filas con 9 columnas

(6755373, 9)

In [20]:
query_palancas.head()
#createddate: fecha creacion estudiantes
#moodle_course_id: no se pudieron incluir todos los diplomados pq la query da muy pesada, se incluyo el diplomado en el que el estudiante lleva la mayor cantidad de cursos completados
#                  si un estudiante lleva la misma cantidad de cursos se escoge el general_sequence=1
#day_info: dia calendario
#progress_start_day: dias despues de la fecha de creacion del estudiante
#activities_0:numero de actividades content_completion_required=1 que el estudiante realizó ese dia calendario

  createddate          student_id  ...  activities_0_3 activities_0_7
0  2021-01-03  0035G00001bz1VXQAY  ...               0            0.0
1  2021-01-03  0035G00001bz1VXQAY  ...               0            0.0
2  2021-01-03  0035G00001bz1VXQAY  ...               0            0.0
3  2021-01-03  0035G00001bz1VXQAY  ...               0            0.0
4  2021-01-03  0035G00001bz1VXQAY  ...               0            0.0

[5 rows x 9 columns]

In [21]:
hsm.shape[0]+Email.shape[0]==journeys.shape[0] #verificar que la concatenación estuvo bienn

True

In [22]:
#utilizamos open_date para emails e input_dates para HSM, pero ambos ya estan bajo el nombre de open_date en el dataset unificado

Concatenamos el medio con el nombre del journey

In [23]:
journeys['medio_journey_name']=journeys['medio'].str.upper()+'_'+journeys['journeyname']

Parte uno: transponer el medio_journey_name en columna

In [24]:
journeys_name_medio=journeys[['subscriber_key','open_date','medio_journey_name','unique_click']]

In [25]:
journeys_name_medio.head()

       subscriber_key  ... unique_click
0  0035G00001ZkDaJQAV  ...            1
1  0035G00001ZkDaJQAV  ...            1
2  0035G00001ZkDaJQAV  ...            1
3  0035G00001ZkDaJQAV  ...            1
4  0035G00001ZkDcUQAV  ...            1

[5 rows x 4 columns]

In [26]:
journeys_name_medio=pd.pivot_table(journeys_name_medio,index=['subscriber_key','open_date'],columns='medio_journey_name',values='unique_click',aggfunc='max')

In [27]:
journeys_name_medio=journeys_name_medio.reset_index().fillna(0)

In [28]:
journeys_name_medio=journeys_name_medio[journeys_name_medio['open_date']!='nan']

In [29]:
journeys_name_medio=journeys_name_medio.rename(columns={'subscriber_key':'student_id','open_date':'day_info'})

In [30]:
journeys_name_medio

medio_journey_name          student_id  ... HSM_Tutorías
0                   0035G00001ZkDAKQA3  ...          0.0
1                   0035G00001ZkDAKQA3  ...          0.0
2                   0035G00001ZkDAKQA3  ...          0.0
3                   0035G00001ZkDS5QAN  ...          0.0
5                   0035G00001ZkDT8QAN  ...          0.0
...                                ...  ...          ...
706816                      perlaavila  ...          0.0
706817                      perlaavila  ...          0.0
706818                      perlaavila  ...          0.0
706819                      perlaavila  ...          0.0
706820                      perlaavila  ...          0.0

[674665 rows x 19 columns]

Parte dos: transponer el journeyname en columnas

In [31]:
journeys_name=journeys[['subscriber_key','open_date','journeyname','unique_click']]

In [32]:
journeys_name.head()

       subscriber_key   open_date                  journeyname  unique_click
0  0035G00001ZkDaJQAV  2021-10-10  Clases en vivo - Invitation             1
1  0035G00001ZkDaJQAV  2021-10-17  Clases en vivo - Invitation             1
2  0035G00001ZkDaJQAV  2021-10-26  Clases en vivo - Invitation             1
3  0035G00001ZkDaJQAV  2021-11-08   Students - Weekly Progress             1
4  0035G00001ZkDcUQAV  2021-10-18     Students - Weekly New CM             1

In [33]:
journeys_name=pd.pivot_table(journeys_name,index=['subscriber_key','open_date'],columns='journeyname',values='unique_click',aggfunc='max')

In [34]:
journeys_name=journeys_name.reset_index().fillna(0)

In [35]:
journeys_name=journeys_name[journeys_name['open_date']!='nan']

In [36]:
journeys_name=journeys_name.rename(columns={'subscriber_key':'student_id','open_date':'day_info'})

In [37]:
journeys_name

journeyname          student_id  ... Tutorías
0            0035G00001ZkDAKQA3  ...      0.0
1            0035G00001ZkDAKQA3  ...      0.0
2            0035G00001ZkDAKQA3  ...      0.0
3            0035G00001ZkDS5QAN  ...      0.0
5            0035G00001ZkDT8QAN  ...      0.0
...                         ...  ...      ...
706816               perlaavila  ...      0.0
706817               perlaavila  ...      0.0
706818               perlaavila  ...      0.0
706819               perlaavila  ...      0.0
706820               perlaavila  ...      0.0

[674665 rows x 19 columns]

Joins de palancas con journeys + medio

In [38]:
palancas_journeys_name_medio=pd.merge(query_palancas,journeys_name_medio,how='left',on=['student_id','day_info'])

In [39]:
palancas_journeys_name_medio=palancas_journeys_name_medio.fillna(0)

Left join palancas journey

In [40]:
palancas_journeys_name=pd.merge(query_palancas,journeys_name,how='left',on=['student_id','day_info'])

In [41]:
palancas_journeys_name=palancas_journeys_name.fillna(0)

In [42]:
palancas_journeys_name['Students - Weekly Progress'].unique()

array([0., 1.])

Convertir float64 en int 64

In [43]:
for i in palancas_journeys_name_medio.columns:
  if palancas_journeys_name_medio[i].dtype=='float64':
    palancas_journeys_name_medio[i]=palancas_journeys_name_medio[i].astype(int)

In [44]:
for i in palancas_journeys_name.columns:
  if palancas_journeys_name[i].dtype=='float64':
    palancas_journeys_name[i]=palancas_journeys_name[i].astype(int)

VALIDACIONES

In [45]:
palancas_journeys_name_medio.head()

  createddate          student_id  ...  HSM_Clase en Vivo Reminder HSM_Tutorías
0  2021-01-03  0035G00001bz1VXQAY  ...                           0            0
1  2021-01-03  0035G00001bz1VXQAY  ...                           0            0
2  2021-01-03  0035G00001bz1VXQAY  ...                           0            0
3  2021-01-03  0035G00001bz1VXQAY  ...                           0            0
4  2021-01-03  0035G00001bz1VXQAY  ...                           0            0

[5 rows x 26 columns]

In [46]:
palancas_journeys_name_medio[(palancas_journeys_name_medio['activities_0']>=1) & (palancas_journeys_name_medio['EMAIL_Students - Weekly Progress'])].head(50)

        createddate  ... HSM_Tutorías
16024    2021-01-03  ...            0
21802    2021-01-03  ...            0
131770   2021-01-03  ...            0
131777   2021-01-03  ...            0
131791   2021-01-03  ...            0
131798   2021-01-03  ...            0
152114   2021-01-03  ...            0
172479   2021-01-03  ...            0
393934   2021-01-10  ...            0
414064   2021-01-10  ...            0
414071   2021-01-10  ...            0
459446   2021-01-17  ...            0
482530   2021-01-17  ...            0
534974   2021-01-17  ...            0
534981   2021-01-17  ...            0
551424   2021-01-17  ...            0
551431   2021-01-17  ...            0
551438   2021-01-17  ...            0
615210   2021-01-17  ...            0
673225   2021-01-24  ...            0
724557   2021-01-24  ...            0
795605   2021-01-24  ...            0
796054   2021-01-24  ...            0
797787   2021-01-24  ...            0
854262   2021-01-24  ...            0
887618   2021-01-24  ...            0
889765   2021-01-24  ...            0
911372   2021-01-31  ...            0
983069   2021-01-31  ...            0
1014741  2021-01-31  ...            0
1014748  2021-01-31  ...            0
1014769  2021-01-31  ...            0
1014783  2021-01-31  ...            0
1029977  2021-01-31  ...            0
1039351  2021-01-31  ...            0
1039358  2021-01-31  ...            0
1039365  2021-01-31  ...            0
1092465  2021-02-07  ...            0
1100762  2021-02-07  ...            0
1100769  2021-02-07  ...            0
1100790  2021-02-07  ...            0
1105270  2021-02-07  ...            0
1105277  2021-02-07  ...            0
1118538  2021-02-07  ...            0
1158549  2021-02-07  ...            0
1301729  2021-02-07  ...            0
1303034  2021-02-07  ...            0
1337453  2021-02-14  ...            0
1349430  2021-02-14  ...            0
1351142  2021-02-14  ...            0

[50 rows x 26 columns]

In [47]:
actividades_requeridas=pd.read_excel('/content/drive/MyDrive/Engagement/required_activities.xlsx')

In [48]:
palancas_journeys_name_medio=pd.merge(palancas_journeys_name_medio,actividades_requeridas,how='left',on=['moodle_course_id'])

In [49]:
palancas_journeys_name=pd.merge(palancas_journeys_name,actividades_requeridas,how='left',on=['moodle_course_id'])

In [50]:
palancas_journeys_name_medio['progress_0']=palancas_journeys_name_medio['activities_0']/palancas_journeys_name_medio['count_activity_required']
palancas_journeys_name_medio['progress_0_1']=palancas_journeys_name_medio['activities_0_1']/palancas_journeys_name_medio['count_activity_required']
palancas_journeys_name_medio['progress_0_3']=palancas_journeys_name_medio['activities_0_3']/palancas_journeys_name_medio['count_activity_required']
palancas_journeys_name_medio['progress_0_7']=palancas_journeys_name_medio['activities_0_7']/palancas_journeys_name_medio['count_activity_required']

In [51]:
palancas_journeys_name['progress_0']=palancas_journeys_name['activities_0']/palancas_journeys_name['count_activity_required']
palancas_journeys_name['progress_0_1']=palancas_journeys_name['activities_0_1']/palancas_journeys_name['count_activity_required']
palancas_journeys_name['progress_0_3']=palancas_journeys_name['activities_0_3']/palancas_journeys_name['count_activity_required']
palancas_journeys_name['progress_0_7']=palancas_journeys_name['activities_0_7']/palancas_journeys_name['count_activity_required']

Exportación a CSV

In [54]:
palancas_journeys_name_medio.to_csv('/content/drive/MyDrive/Engagement/palancas_journeys_name_medio.csv', sep=',')
palancas_journeys_name.to_csv('/content/drive/MyDrive/Engagement/palancas_journeys_name.csv', sep=',')

In [52]:
palancas_journeys_name_medio.head()

  createddate          student_id  ...  progress_0_3 progress_0_7
0  2021-01-03  0035G00001bz1VXQAY  ...           0.0          0.0
1  2021-01-03  0035G00001bz1VXQAY  ...           0.0          0.0
2  2021-01-03  0035G00001bz1VXQAY  ...           0.0          0.0
3  2021-01-03  0035G00001bz1VXQAY  ...           0.0          0.0
4  2021-01-03  0035G00001bz1VXQAY  ...           0.0          0.0

[5 rows x 31 columns]

In [ ]:
palancas_journeys_name.head()

  createddate          student_id  ...  Students - Weekly Progress Tutorías
0  2021-01-03  0035G00001bz1VXQAY  ...                           0        0
1  2021-01-03  0035G00001bz1VXQAY  ...                           0        0
2  2021-01-03  0035G00001bz1VXQAY  ...                           0        0
3  2021-01-03  0035G00001bz1VXQAY  ...                           0        0
4  2021-01-03  0035G00001bz1VXQAY  ...                           0        0

[5 rows x 26 columns]

In [ ]:
palancas_journeys_name_medio['createddate']

0          2021-01-03
1          2021-01-03
2          2021-01-03
3          2021-01-03
4          2021-01-03
              ...
6755368    2021-12-26
6755369    2021-12-26
6755370    2021-12-26
6755371    2021-12-26
6755372    2021-12-26
Name: createddate, Length: 6755373, dtype: object